.note {
  margin: 3rem 0;
}

.source {
  margin: .5rem 0 0;
  display: flex;
  align-items: baseline;
  gap: .5rem;
}

.sourceTitle {
  display: flex;
  align-items: baseline;
  gap: 1rem;
  font-size: 1.2em;
}

.sourceType {
  display: inline-block;
}

.sourceType svg {
  vertical-align: text-bottom;
}

.source h2 {
  margin: 0;
  font-size: 1rem;
}

.main {
  margin: .7rem;
}

.main blockquote {
  /* opacity: .9; */
  /* font-size: .9em; */
  margin: 1rem 0;
  padding-left: 1.7rem;
  border-left: 3px double var(--color-gray-200);
  font-style: italic;
  font-size: .925em;
}

.footer {
  margin: .5rem .3rem .5rem;
  display: flex;
  align-items: baseline;
  gap: 1em;
  font-weight: 500;
  opacity: .7;
  font-variant-caps: all-small-caps;
}

.footer svg {
  vertical-align: middle;
}

.footer a {
  color: inherit;
}

.footer a:hover {
  opacity: .7;
}

.time {
  font-size: 1em;
}