.company {
  display: inline-flex;
  align-items: baseline;
  gap: .5em;
  font-weight: 600;
}

.logo {
  display: block;
  align-self: center;
  border-radius: 2px;
  overflow: hidden;
  margin-top: -.25em;
}

.name {
  margin: 0;
}