.imageBlock {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 2rem;
  margin: 2rem 0;
  font-family: var(--font-sans-serif, var(--fallback-font-sans-serif));
}

.left {
  flex-direction: row;
  text-align: left;
}

.right {
  flex-direction: row-reverse;
  text-align: right;
}

.center {
  flex-direction: column;
  align-items: center;
  text-align: center;  
}

.sourceLink {
  text-decoration: none;;
}

.imageBlockImage {
  flex: 1 1 auto;
}

.imageBlockImage img {
  display: block;
  max-width: 100%;
  height: auto;
}

.imageBlockCredit {
  font-style: normal;
  font-size: .8em;
}

.imageBlockCaption {
  flex: 0 1 auto;
  min-width: 16em;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.title {
  font-weight: 700;
}