.imageBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 0;
  font-family: var(--font-sans-serif, var(--fallback-font-sans-serif));
}

.imageBlockImage {
  flex: 1 1 auto;
  display: block;
  max-width: 100%;
  height: auto;
  /* border: 1px solid var(--color-gray-100); */
  box-sizing: border-box;
  border-radius: .25em;
  overflow: hidden;
}

.imageBlockCredit {
  font-style: normal;
  font-size: .8em;
}

.imageBlockCaption {
  flex: 1 1 auto;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 16em;
  line-height: 1.2;
  gap: 0.5rem 1rem;
  font-size: .875em;
  margin-top: 0.5rem;
}

p.title {
  margin: 0;
  flex: 0 1 auto;
  font-weight: 700;
  white-space: nowrap;
}

p.caption {
  margin: 0;
  flex: 1 1 12rem;
  font-size: .875em;
  line-height: 1.4;
  color: var(--color-gray-500);
}

.sourceLink {
  flex: 0 1 auto;
  text-decoration: none;
}