:root {
	--text-color: #000;
	--page-color: #fff;
	--link-color: #000;
	--link-hover-color: #333;
	--link-visited-color: #999;
}

@media (prefers-color-scheme: dark) {
  :root {
  	--text-color: hsl(129, 100%, 70%);
  	--page-color: hsl(134, 41%, 10%);
  	--link-color: #fff;
  	--link-hover-color: #198929;
  	--link-visited-color: #198929;
  }
}

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	font-size: 20px;
	color: var(--text-color);
	background: var(--page-color);
  font-family: sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
	color: var(--link-color); 
}
a:visited { color: var(--link-visited-color); }
a:hover 	{ color: var(--link-hover-color); }

