:root {
	--text-color: hsl(0, 0%, 10%);
	--page-color: hsl(0, 0%, 90%);
	--link-color: hsl(0, 0%, 20%);
	--link-hover-color: hsl(0, 0%, 40%);
	--link-visited-color: hsl(0, 0%, 40%);
  --color-gray-300: hsl(0, 0%, 70%);
  
}

@media (prefers-color-scheme: dark) {
  :root {
  	--text-color: hsl(0, 0%, 90%);
  	--page-color: hsl(0, 0%, 10%);
  	--link-color: hsl(0, 0%, 80%);
  	--link-hover-color: hsl(0, 0%, 60%);
  	--link-visited-color: hsl(0, 0%, 60%);
    --color-gray-300: hsl(0, 0%, 30%);
  }
}

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	font-size: 16px;
  line-height: 1.4;
	color: var(--text-color);
	background: var(--page-color);
  font-family: sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
	color: var(--link-color);
  text-decoration-color: var(--color-gray-300);
}
a:visited { color: var(--link-visited-color); }
a:hover 	{ color: var(--link-hover-color); }

