:root {
	--text-color: hsl(0, 0%, 20%);
	--page-color: hsl(0, 0%, 100%);
	--link-color: hsl(0, 0%, 20%);
	--link-hover-color: hsl(0, 0%, 40%);
	--link-visited-color: hsl(0, 0%, 40%);
  --highlight-color: hsla(143, 59%, 73%, 70%);
  --color-gray-50: hsl(0, 0%, 95%);
  --color-gray-100: hsl(0, 0%, 90%);
  --color-gray-200: hsl(0, 0%, 80%);
  --color-gray-300: hsl(0, 0%, 70%);
  --color-gray-400: hsl(0, 0%, 60%);
  --color-gray-500: hsl(0, 0%, 50%);
  --color-gray-600: hsl(0, 0%, 40%);
  --color-gray-700: hsl(0, 0%, 30%);
  --color-gray-800: hsl(0, 0%, 20%);
  --color-gray-900: hsl(0, 0%, 10%);
  /* --font-serif: 'Georgia', serif;
  --font-sans-serif: 'Helvetica Neue', sans-serif; */
}

@media (prefers-color-scheme: dark) {
  :root {
  	--text-color: hsl(0, 0%, 90%);
  	--page-color: hsl(0, 0%, 10%);
  	--link-color: hsl(0, 0%, 80%);
  	--link-hover-color: hsl(0, 0%, 60%);
  	--link-visited-color: hsl(0, 0%, 60%);
    --highlight-color: hsla(143, 59%, 27%, 70%);
    --color-gray-50: hsl(0, 0%, 10%);
    --color-gray-100: hsl(0, 0%, 15%);
    --color-gray-200: hsl(0, 0%, 22.5%);
    --color-gray-300: hsl(0, 0%, 30%);
    --color-gray-400: hsl(0, 0%, 40%);
    --color-gray-500: hsl(0, 0%, 50%);
    --color-gray-600: hsl(0, 0%, 60%);
    --color-gray-700: hsl(0, 0%, 70%);
    --color-gray-800: hsl(0, 0%, 80%);
    --color-gray-900: hsl(0, 0%, 90%);
  }
}

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	font-size: 16px;
  line-height: 1.4;
	color: var(--text-color);
	background: var(--page-color);
  font-family: var(--font-sans-serif);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
	color: var(--link-color);
  text-decoration-color: var(--color-gray-300);
  text-decoration-thickness: 2px;
}
a:visited { color: var(--link-visited-color); }
a:hover 	{ color: var(--link-hover-color); }

code {
  font-family: var(--font-mono);
  font-size: .85em;
  font-weight: 500;
  background-color: var(--color-gray-50);
  padding: .1em .2em;
  border-radius: 4px;
}

pre code {
  background-color: transparent;
  padding: 0;
  border-radius: 0;
}