.container {
  max-width: var(--layout-max-width);
  margin: 0 auto;
  padding: 1rem var(--layout-padding-h);
  display: flex;
  flex-flow: row wrap;
}

.detail {
  max-width: var(--layout-body-width);
  margin: 4vh auto 0 0;
}

.fullWidth {
  width: 100%;
}

.title {
  font-family: var(--font-sans-serif, var(--fallback-font-sans-serif));
  margin: 6rem 0 3rem;
  font-size: 1.5em;
  line-height: 1.3;
}

.envBanner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: .25em 1em;
  background-color: rgba(255, 200, 0, 0.7);
  font-weight: 600;
  text-transform: uppercase;
  z-index: 10;
}

.searchBar {
  width: 100%;
}

.footer {
  margin-top: 4rem;
  padding: 8rem 0;
}

@media print {
  .container {
    margin: 1.5rem auto;
  }
  .envBanner {
    display: none;
  }
  .searchBar {
    display: none;
  }
}