.body {
  line-height: 1.65;
  margin: 1.5rem auto 2rem auto;
}

.image {
  margin: 1.5rem 0;
}

.title {
  max-width: 32rem;
  margin: 1.5rem 0;
  font-size: 3em;
  line-height: 1.3;
  font-weight: normal;
}