.text {
  font-display: swap;
	font-family: var(--font-sans-serif);
  font-optical-sizing: auto;
	font-size: 1em;
  font-weight: 400;
  line-height: 1.6;
}

.data {
  font-display: swap;
	font-family: var(--font-sans-serif);
  font-optical-sizing: auto;
}

.title {
	font-weight: bold;
}

.normal {
  font-size: 1em;
}

.keepTogether {
  white-space: pre;
}

.bodyText {
  max-width: 60ch;
  line-height: 1.7;
  font-family: var(--font-serif);
}