@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-style: normal italic;
  src: url('/static/fonts/Inter-Variable.ttf') format('woff2-variations');
}

.text {
  font-display: swap;
	font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
	font-size: 1em;
  font-weight: 400;
  line-height: 1.6;
}

.data {
  font-display: swap;
	font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
}

.title {
	font-weight: bold;
}

.normal {
  font-size: 1em;
}

.keepTogether {
  white-space: pre;
}