.source.title {
  display: inline-flex;
  align-items: baseline;
  gap: 1rem;
  font-size: 1.25rem;
}

.title {
  font-size: 1.75rem;
}

.icon {
  display: inline-block;
}

.icon svg {
  vertical-align: text-bottom;
}