.entry {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 2rem;
  margin-bottom: 2.5em;
  break-inside: avoid
}

.entry aside {
  flex: 0 1 12em;
}

.entry .entryBody {
  flex: 1 1 32em;
}

.position .role {
  margin: 0;
}

.position .company {
  margin: 0;
}

.description {
  opacity: .7;
  line-height: 1.4;
  font-size: 1em;
}

.position .date {
  opacity: .7;
  font-size: .8em;
}

.resume header {
  display: flex;
  flex-wrap: wrap;
  gap: 0 1rem;
  align-items: baseline;
}

.resume header * {
  margin: 0;
}

.resume h2 {
  font-family: var(--font-sans-serif);
  font-size: 1.2em;
  font-weight: 800;
  margin: 3rem 0 1.5rem;
}

.resume h3 {
  font-size: 1em;
}

.education {
  margin-bottom: 2.5em;
  break-inside: avoid
}

.education header {
  justify-content: space-between;
}

.education .classYear {
  font-style: italic;
}

.skills {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 2ch 4ch;
  font-weight: 500;
  font-size: .9em;
  opacity: .7;
}

.when {
  opacity: .7;
  font-size: .8em;
  font-weight: 500;
}

.when p {
  margin-top: 0;
}

@media print {
  .resume {
    font-size: 12px;
  }
  .resume h2 {
    margin: 1.5rem 0;
  }
}