.listItem { 
  display: block;
  margin: 1.5rem 0 3rem;
  padding: .75rem 1.5rem;
  border: 1px solid var(--color-gray-100);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
  background-color: var(--page-color);
}
