.identity {
  display: flex;
  gap: 1rem;
  flex: 0 1 100%;
}

.avatar {
  /* position: relative;
  display: block;
  overflow: hidden;
  border-radius: 9999px;
  flex: 0 0 auto;
  align-self: center;
  border: 1px solid var(--color-gray-100);
  width: 3rem;
  height: 3rem;
  margin: 0; */
  display: none;
}

.masthead {
  flex: 0 1 8rem;
  display: flex;
  align-items: baseline;
  gap: 1em;
}

.container {
  max-width: var(--layout-max-width);
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: .5rem 2rem;
  padding: 2rem 1rem .5rem;
}

.container img {
  display: block;
}

.container h1 {
  flex: 0 0 auto;
  font-size: 1.75em;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  margin-bottom: .25rem;
  font-feature-settings: "smcp";
  font-variant: small-caps;
  text-transform: lowercase;
}

.container p {
  flex: 1 1 16rem;
  margin: 0;
  font-size: .85em;
  line-height: 1.4;
  font-weight: 400;
}

.container a {
  color: var(--text-color);
  text-decoration: none;
  transition: opacity .1s linear;
}

.container a:hover {
  opacity: .5;
}

.container a:visited {
  color: var(--text-color);
}

.links {
  flex: 0 1 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem 2rem;
}

.links ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  align-items: baseline;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.icon {
  display: block;
  height: 1.2em;
  width: 1.2em;
  fill: var(--color-gray-700);
}

.githubIcon {
  height: 1.4em;
  width: 1.4em;
}
@media (min-width: 36rem) {
  .container {
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 1rem .5rem;
  }
  .links {
    flex: 1 1 auto;
  }
  .identity {
    flex: 999 1 auto;
  }
}

@media print {
  .container {
    padding: 0;
  }
  .avatar, .links {
    display: none;
  }
}