.book {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 0 1rem;
}

.book p, .book figure {
  margin: 0;
}

.bookCover {
  flex: 0 1 2rem;
  display: block;
  position: relative;
}

.bookCover img {
  display: block;
}

.bookDetails {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 8rem;
  gap: .25rem;
  margin: .5rem 0 0;
  max-width: 24rem;
}

.bookTitle {
  font-family: var(--font-sans-serif, var(--fallback-font-sans-serif));
  font-weight: 600;
  line-height: 1.2;
  color: var(--text-color);
}

.bookSubtitle {
  display: none;
  font-weight: 400;
  font-size: .925em;
}

.bookAuthor {
  font-weight: 400;
  font-family: var(--font-serif, var(--fallback-font-serif));
  font-style: italic;
  font-size: 0.9em;
  line-height: 1.3;
}

.bookMeta {
  display: none;
  font-size: .75em;
  margin: 3em 0 0;
  max-width: 20rem;
}

.bookMeta dt {
  font-weight: 700;
  font-family: var(--font-mono, var(--fallback-font-mono));
  page-break-after: avoid;
  text-align: right;
}

.bookMeta dd {
  font-weight: 400;
  font-family: var(--font-mono, var(--fallback-font-mono));
  margin-inline-start: 0;
  page-break-before: avoid;
}

.large {
  margin-bottom: 3rem;
}

.large.book {
  gap: 3rem;
}

.large .bookCover {
  flex-basis: 16rem;
  border-radius: 4px;
  box-shadow: 0 2px 4px var(--color-gray);
  min-height: 16rem;
}

.large .bookDetails {
  margin: 0;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.large .bookMeta {
  display: grid;
  gap: 1em 2em;
  grid-template-columns: auto 1fr;
}

.large .bookTitle {
  font-size: 3em;
  line-height: 1.2;
  font-weight: 600;
  text-align: center;
}

.large .bookAuthor {
  font-size: 1.5em;
}

.bookLink {
  text-decoration: none;
}

.bookLink .bookDetails {
  opacity: 1;
  transition: opacity .1s ease-in-out;
}

.bookLink:hover .bookDetails {
  opacity: .5;
}

.medium {
  font-size: 1em;
  margin: 0;
  flex-direction: column;
}

.medium .bookCover {
  flex-basis: 8rem;
}

.medium .bookCover img {
  object-position: left bottom;
}

.medium .bookTitle {
  font-size: 1.2em;
}

.small {
  margin: 1rem 0;
}