.projectItem {
  display: flex;
  flex-direction: column;
  font-family: var(--font-sans-serif, var(--fallback-font-sans-serif));
  color: var(--text-color);
}

.projectTitle {
  flex: 0 0 auto;
  font-size: 1.2em;
  line-height: 1.4;
  font-family: var(--font-sans-serif, var(--fallback-font-sans-serif));
  color: var(--link-color);
  margin: 1rem 0 .5rem;
}

.projectDescription {
  flex: 0 0 auto;
  margin: 0;
  font-size: .875em;
}

.projectImage {
  flex: 1 1 20%;
  position: relative;
  margin: 0;
  width: 100%;
  height: 0;
  padding-top: 100%;
  background-color: var(--color-gray-300);
}

@supports (aspect-ratio: 1 / 1) {
  .projectImage {
    height: auto;
    padding-top: unset;
    aspect-ratio: 1 / 1;
  }
}
