.container {
  width: 100%;
  margin: 1.5rem 0 0;
}

.projectList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 2rem;
  list-style-type: none;
  margin: 0 0 2rem 0;
  padding: 0;
}

.projectListItem a {
  text-decoration: none;
  transition: opacity .1s linear;
}

.projectListItem a:hover {
  text-decoration: none;
  opacity: .5;
}

.yearHeader {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--color-gray-500);
  font-weight: 600;
  margin: 4rem 0;
}

.yearHeader hr {
  flex: 1 1 auto;
  border: 1px solid var(--color-gray-300);
}