.container {
  width: 100%;
  margin: 1.5rem 0 0;
}

.projectList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 2rem;
  list-style-type: none;
  margin: 0 0 2rem 0;
  padding: 0;
}

.projectListItem a {
  text-decoration: none;
  transition: opacity .1s linear;
}

.projectListItem a:hover {
  text-decoration: none;
  opacity: .5;
}
