.noteBlock {
  margin: 0;
  position: relative;
}

.noteBlock section {
  display: flex;
  gap: 1rem;
}

.noteBlock main {
  margin: 0;
  flex: 1 1 auto;
}

.noteBlock footer {
  opacity: 1;
  flex: 0 1 2em;
  margin: 0;
}

.noteBlock footer time {
  display: none;
}

.noteBlock footer a {
  background: transparent;
  width: 2.5em;
  height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.25em;
  padding: .5em;
  border: 1px solid var(--color-gray-100);
  z-index: 1;
}

.noteBlock footer a:hover, .noteBlock footer a:focus {
  background: #bfeacb;
}

.noteBlock blockquote:only-child {
  margin: 0;
}

.noteBlock blockquote p:first-child {
  margin-top: 0;
}

@media (prefers-color-scheme: dark) {
  .noteBlock footer a:hover, .noteBlock footer a:focus {
    background: #2e5235;
  }
}