.header {
  margin: 0;
}

.headerRow {
  margin-bottom: .75em;
  padding-bottom: .25em;
  border-bottom: 2px solid var(--color-gray-100);
}

.header a {
  color: currentColor;
  text-decoration: none;
}

.header a:visited {
  color: var(--link-color);
}

.header a:hover {
  color: var(--link-hover-color);
}

.publishedAt {
  flex: 0 1 auto;
  order: 1;
  color: var(--color-gray-400);
  font-size: .8em;
  font-weight: 600;
}

.divider {
  flex: 1 1 4rem;
  order: 1;
  border: none;
  border: 1px solid var(--color-gray-100);
  margin: 0;
  margin-right: 1em;
}

.title {
  flex: 1 1 100%;
  order: 2;
  line-height: 1.2;
  margin: 0;
  margin-top: .5em;
}

.gallery img {
  width: 100%;
}