.homepage {
  width: 100%;
  display: flex;
  flex-flow: row-reverse wrap;
  align-items: flex-start;
  gap: 2rem 4rem;
}

.homepage .aside {
  flex: 0 1 24em;
  min-width: 0;
  width: 100%;
  position: sticky;
  top: 1rem;
  display: flex;
  flex-flow: column;
  gap: 2rem;
  min-height: 100vh;
}

.homepage .asideTop {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
  gap: 2rem;
  overflow-y: auto;
}

.homepage .asideBottom {
  position: sticky;
  bottom: 0;
  padding: 1rem 0;
  background-color: var(--bg-color);
}

.subscribeHeading {
  margin: 0 0 .5em;
  font-size: .875em;
  font-weight: 500;
}

.homepage .main {
  flex: 3 1 20em;
  width: 100%;
  min-width: 0;
}

.bio {
  flex: 1 1 100%;
}

.bio strong {
  font-weight: 600;
}

.bio p {
  margin-top: 0;
}

.bio a {
  color: var(--primary-color);
  text-decoration-color: var(--highlight-color);
}

@media (max-width: 64.375rem) {
  .homepage {
    flex-flow: column;
  }
  .homepage .aside {
    flex: 1 1 auto;
    position: unset;
    min-height: unset;
  }
  .homepage .asideBottom {
    min-width: 0;
    flex: 1 1 auto;
    position: unset;
    padding: 0;
  }
  /* Hide reading on small screens */
  .homepage .aside .reading {
    display: none;
  }
}

.homepage .main ul {
  margin: 0;
}