.codeBlock {
  margin: 0;
  line-height: 1.4;
}

.codeBlock pre {
  margin: 0;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, .5);
  overflow: scroll;
}

.title {
  font-family: var(--font-mono, var(--fallback-font-mono));
  font-size: .75em;
  font-weight: 500;
  padding: .5rem 0;
}

@media (prefers-color-scheme: dark) {
  .codeBlock {
    border: 1px solid rgba(255, 255, 255, .1);
  }
}